:root {
    --vermelho: #cc0000;
    --vermelho-escuro: #8b0000;
    --vermelho-brilho: #ff2020;
    --fundo: #0a0a0a;
    --fundo-card: #1a1010;
    --papel: #1c1410;
    --texto: #e8ddd0;
    --texto-fraco: #8a7a6a;
    --amarelo: #f5c842;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    font-family: 'Special Elite', cursive;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Estilização do separador */
.separador {
    height: 1px;
    background: var(--vermelho-escuro);
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}


/* Estilização da Nav */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(10, 0, 0, 0.95);
    border-bottom: 2px solid var(--vermelho-escuro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    height: 64px;
}

.nav-logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--vermelho);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav-logo span {
    color: var(--texto);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    font-family: 'Oswald', sans-serif;
    font-size: 0.85rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--texto-fraco);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

nav a:hover,
nav a.active {
    color: var(--vermelho);
    border-color: var(--vermelho);
}

/* Estilização do footer */
footer {
  border-top: 2px solid var(--vermelho-escuro);
  text-align: center;
  padding: 2.5rem;
  position: relative;
  z-index: 1;
}

footer p {
  font-family: 'Share Tech Mono', monospace;
  font-size: 0.65rem;
  color: var(--texto-fraco);
  letter-spacing: 2px;
  margin-top: 0.4rem;
}

footer p span {
  color: var(--vermelho);
}

/* Estilização da parte principal */
.hero {
    position: relative;
    z-index: 1;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    overflow: hidden;
}

.hero img {
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--vermelho);
}

.hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;
    color: var(--texto);
    letter-spacing: -2px;
    margin-bottom: 0.5rem;
}

.hero h1 em {
    color: var(--vermelho);
    font-style: normal;
    display: block;
    font-size: 1.15em;
}

.hero-sub {
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.95rem;
    color: var(--texto-fraco);
    letter-spacing: 2px;
    margin: 1.5rem 0 2.5rem;
    max-width: 480px;
}

.hero-sub span {
    color: var(--amarelo);
}

.classified-stamp {
    font-family: 'Oswald', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 6px;
    color: var(--vermelho);
    text-transform: uppercase;
    border: 1px solid var(--vermelho-escuro);
    padding: 4px 18px;
    margin-bottom: 1.5rem;
    display: inline-block;
    opacity: 0.8;
}

/* Estilização das chamadas para inscrição */
.cta-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.cta-final{
    text-align: center;
}

.cta-final p{
    margin-bottom: 20px;
}

/* Estilização dos botões */
.btn {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 32px;
    border: 2px solid;
    cursor: pointer;
    display: inline-block;
}

.btn-primary {
    background: var(--vermelho);
    border-color: var(--vermelho);
    color: #fff;
}

.btn-primary:hover {
    background: var(--vermelho-brilho);
    border-color: var(--vermelho-brilho);
}

.btn-outline {
    background: transparent;
    border-color: var(--texto-fraco);
    color: var(--texto-fraco);
}

.btn-outline:hover {
    border-color: var(--texto);
    color: var(--texto);
}

/* Estilização do section */
section {
    position: relative;
    z-index: 1;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5rem 2rem;
}

.section-label {
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.65rem;
    letter-spacing: 5px;
    color: var(--vermelho);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.section-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--texto);
    margin-bottom: 2rem;
    line-height: 1;
}

.section-title span {
    color: var(--vermelho);
}

/* Estilização da parte de Sobre */
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: start;
}

.about-text p {
    color: var(--texto-fraco);
    line-height: 1.9;
    margin-bottom: 1.2rem;
    font-size: 0.95rem;
}

.about-text p strong {
    color: var(--texto);
}

.about-image img {
    width: 400px;
}


/* Estilização da citação */
.quote {
    position: relative;
    z-index: 1;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem
}

.quote-block {
  background: var(--fundo-card);
  border-left: 4px solid var(--vermelho);
  padding: 2rem 2.5rem;
  margin: 4rem 0;
}

.quote-block blockquote {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--texto);
  line-height: 1.4;
  font-style: italic;
}

.quote-block cite {
  display: block;
  margin-top: 1rem;
  font-family: 'Share Tech Mono', monospace;
  font-size: 0.7rem;
  color: var(--vermelho);
  letter-spacing: 3px;
  font-style: normal;
}
